body {
  font-family: Times new roman, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #007bff;
  color: white;
  padding: 1.25em;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Modal Window */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hero-image {
  position: relative;
  height: 60vh; /* 60% of the viewport height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-text {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  padding: 2em;
  border-radius: 10px;
}

/* icon image */
img.icon {
  max-width: 2%;
  max-height: 2%;
  filter: brightness(0) invert(1);
}

.patients-list table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.patients-list td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.patients-list tr:nth-child(even) {
  background-color: #dddddd;
}

/* forms  */

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.contactus-form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*working only in ipad portrait device*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background: red;
  }
}

@media only screen and (max-width: 600px) {
  /* Styles for mobile phones */
  body {
    background-color: orange;
  }
}

@media (max-width: 600px) {
  .hero-image {
    height: 40vh; /* Shorter height on small devices */
  }

  .hero-text {
    padding: 1em;
  }
}
